VITE_API_BASE_URL=
VITE_CONTRACT_ADDRESS=
VITE_CLAIM_ADJUDICATOR_ADDRESS=
VITE_POLICY_ECONOMICS_ADDRESS=
VITE_EVIDENCE_REGISTRY_ADDRESS=
VITE_PROTOCOL_DEPLOYMENT_REGISTRY_ADDRESS=
VITE_POLICY_BENEFITS_ADDRESS=
VITE_POLICY_BENEFITS_DEPLOYMENT_BLOCK=0
VITE_CONTRACT_DEPLOYMENT_BLOCK=0
VITE_RPC_URL=
VITE_CHAIN_ID=31337
VITE_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/
